<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ path('homepage') }}">Flyaround</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item
                    {% if app.request.attributes.get('_route') matches '/planemodel/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{{ path('planemodel_index') }}">Avions</a>
                </li>
                <li class="nav-item
                    {% if app.request.attributes.get('_route') matches '/reservation/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{{ path('reservation_index') }}">Réservations</a>
                </li>
                <li class="nav-item
                    {% if app.request.attributes.get('_route') matches '/flight/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{{ path('flight_index') }}">Vols</a>
                </li>
                <li class="nav-item
                    {% if app.request.attributes.get('_route') matches '/site/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{{ path('site_index') }}">Terrains</a>
                </li>
                <li class="nav-item
                    {% if app.request.attributes.get('_route') matches '/review/' %}
                        active
                    {% endif %}">
                    <a class="nav-link" href="{{ path('review_index') }}">Avis</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="btn btn-outline-primary btn-sm mb-2 mb-lg-0 mr-2" href="/login">Se connecter</a></li>
                <li class="nav-item"><a class="btn btn-outline-primary btn-sm" href="/register">S'inscrire</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
